

h1.titre-home.article  {
    top: 10%;
    z-index: 1;
}
.article p{
    margin: 0 20px;
    clear: both;
}



h1.titre-home.article a {
    color: black;
}

.makethewebcleaner.article {
    color: black;
}

div.article {
    width: 100vw;
    height: auto;

}

p.makethewebcleaner.article {
    z-index: 1;
    margin: 40px;
}


p.intro {
    font-style: italic;
    padding-top: 90px;
}

img.contenu-article {
    position: relative;
    width: calc(100vw - 2*5px);
    left: 5px;
}


div.legende {
    float: left;
    max-width: calc(100vw - 2*5px);
}

p.legende {
    width: calc(100vw - 2*10px) ;
    position: relative;
    text-indent: 5px;
    left: 5px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: Crimson;
    font-size: 1.6rem;
    padding: 0 5px;
    margin:0 0 5px 0;
    display: block;

}

.divise2 p.legende,.texte{
    max-width: calc(50vw - 17.5px) ;
}

.texte{
    float: right;

}


.groupe-image img {
    box-sizing: border-box;
    border: solid 1px black;
}
div.groupe-image {
    padding: 30px 0;
}

div.groupe-image img.divise2 {
    max-width: calc(50vw - 7.5px);
    float: left;
    margin: 0 0 5px 5px;
}

body.article header {
    width: 100vw;
    height: 65vh;
    justify-content: right;
}

.bandeannonce {
    margin: 0 0 0 5px;
}

section {
    font-size: 2rem;
    font-family: Crimson;
}